@import "../../Styles/global";

main {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  align-items: center;
  text-align: center;
  padding: 0 2.5rem;
}

form {
  padding: 2.5rem 0;
  textarea {
    height: 20vh;
  }
}

.button {
  padding: 0.5rem 2.5rem !important;
  width: 100%;
  background: #05c46b;
  color: white;
  border-radius: 10px;
}

.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 40rem;
  flex-wrap: wrap;
  .card {
    padding: 0.5rem;
    margin: 1.5rem;
    width: 40%;
    border-radius: 10px;
    border: 1px solid rgba($color: #000000, $alpha: 0.4);
    height: 50vh;
    h3 {
      color: #05c46b;
    }
  }
  .image {
    border-radius: 10px;
    background-color: #515151;
    height: 50%;
  }
}
@media screen and (max-width: 700px) {
  .card-section {
    flex-direction: column;
    .card {
      width: 95%;
    }
  }
}
